{% extends "base.html" %}

{% block content %}
    <h1 align="center">Build a Blog!</h1>
    

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li> <a name={{blog.title}} style="font-size:20px" href="http://127.0.0.1:5000/blogpost?id={{blog.id}}"><strong>{{blog.title}}</strong></a>
                <br> <!--redirect("/welcome?username=" + username)-->
              {{blog.body}}
              <hr class="hr_att">    
            </li>
            {% endfor %}
        </ul>

    {% endif %}
    
{% endblock %}