{% extends "base.html" %}

{% block content %}

    {% if blog %}

        <a name={{blog.title}} style="font-size:20px">
            <strong>{{blog.title}}</strong></a>
        <br><br>
        {{blog.body}}<br><br>
        <p>Written by <a href="http://127.0.0.1:5000/singleuser?id={{blog.owner_id}}">{{blog.owner.username}}</a></p>

    {% endif %}

    {% if blogs %}
        <ul>
            <h1>blog posts!</h1>
            {% for blog in blogs %}
            
            <li> <a name={{blog.title}} style="font-size:20px" href="http://127.0.0.1:5000/blogposts?id={{blog.id}}"><strong>{{blog.title}}</strong></a>
                <br>
              {{blog.body}}<br>
              <p>Written by <a href="http://127.0.0.1:5000/singleuser?id={{blog.owner_id}}">{{blog.owner.username}}</a></p>
              <hr class="hr_att">    
            </li>

            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}