{% extends "base.html" %}

{% block content %}
    <h1 align="center">Blog Users !</h1>
    

    {% if users|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for user in users %}
            
            <li> <a name={{user.id}} style="font-size:20px" href="http://127.0.0.1:5000/singleuser?id={{user.id}}">
                <strong>{{user.username}}</strong></a>
                <br>
             <!-- <hr class="hr_att">  -->
            </li>
            
            {% endfor %}
        </ul>

    {% endif %}
    
{% endblock %}